body{
    padding: 0;
    margin: 0;
}

.container{
    display: block;
    justify-content: center;
    margin: 10px;
    
    background-color: white;
}

.card{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: antiquewhite;
    padding: 10px;
}

.info-pokemon{
    background-color: white;
    width: 30%;
    border-radius: 15px 0px 0px 15px;
}

.name-pokemon{
    font-size: 25px;
    color: rgb(11, 11, 11);
    margin: 5px;
}

.id-pokemon{
    font-size: 25px;
    color: white;
    margin: 20px;
}

.tags{
    margin: 5px;
}

.type-pokemon{
    background-color: white;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
    width: fit-content;
}

.image-pokemon{
    display: flex;
    align-self: center;
    width: 70%;
    border-radius: 0px 15px 15px 0px;
    background-color: red;
    align-items: center;
}

.image-pokemon > img{
    width: 150px;
    display: flex;
    height: 150px;
    align-items: center;
}

@media (max-width : 400px) {
    .name-pokemon{
        font-size: 15px;

    }  
    .info-pokemon{
        font-size: 15px;
    } 
}
